<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf App</title>
</head>
<body>
    <h1 th:text="'Thymeleaf ' + ${message} + ' App'"></h1>
</body>
</html> -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CSS-JS in Thymeleaf</title>
<link th:href = "@{/CSS/main.css}" rel="stylesheet"/>
<script th:src="@{/JS/actions.js}" type="text/javascript"></script>
</head>
<body>
	<h2>Heading</h2>
	<p>
		This is the text on which we want to apply <strong>very special</strong> styling.
	</p>
	<button type="button" th:onclick="demo()">Show Alert</button>
</body>
</html>